.artist {
    display: flex;
    height: 100px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px 0;
}
.artist__pic {
    max-width:100%;
    max-height:100%;
}
.artist__name {
    align-self: center;
}