.track {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    justify-content: space-between;
}
.track:hover {
    cursor: pointer;
    color: blue;
    border: 1px solid blue;
}