.album {
    display: flex;
    height: 100px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px 0;
    justify-content: space-between;
}
.album__image {
    width: 30%;
}
.album__name {
    align-self: center;
    flex-grow: 1;
}
.album__pic {
    max-width: 100%;
    max-height: 100%;
}
.album__release {
    align-self: center;
}